<form
	[formGroup]="fg"
	(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
	<div class="form-group">
		<label for="nombre">Nombre</label>
		<input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." 
		 formControlName = 'nombre'>
		 <div *ngIf="fg.controls['nombre'].hasError('required')"> El nombre es obligatorio!</div>
		 <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')"> El nombre no es valido!</div>
		 <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')"> El nombre debe tener al menos {{minLongitud}} de largo!</div>
	</div>
	<div class="form-group">
		<label for="Imagen Url">Imagen Url</label>
		<input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar Url..."
		formControlName = 'url'>
	</div>	
	<button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>
