<div class="card-content">
		<div class="card-img">
			<img src="https://placeimg.com/380/230/nature" alt="">
			<span><h4>{{position}}</h4></span>
		</div>
		<div class="card-desc">
			<h3>{{destino.nombre}}</h3>
			<p>Servicios</p>
			<ul>
				<li *ngFor= "let s of destino.servicios">
					<span [ngSwitch]="s">
						<i *ngSwitchCase ="'desayuno'" style="color: red;">{{s}}</i>
						<i *ngSwitchDefault>{{s}}</i>
					</span>
				</li>
			</ul>
			 <a href="#"	class = "btn-card" (click)="ir()">Ir!</a>	<!--ir() debe ser creado en la vista -->	
			 <span *ngIf="destino.isSelected()">
				<span ngNonBindable>{{PREFERIDO}}</span> <!--indica q todo lo q este dentro no es renderizado por angular.  Es decir, se puede usar algo q normalmente angular interpreta y no es tomado en cuenta.  Por ej: si no estuviera blindado, angular buscaria la variable preferido-->
			 </span>	<!--isSelected está creado en el modelo de dominio  -->	
			 <a [routerLink]="['/destino']">Ver Detalle</a>
		</div>
</div>


